{{ define "main" }}

<section>
	<div class="container mx-auto px-3">
		<div class="lg:flex">
			<lottie-player class="flex-1 w-full" src="https://assets7.lottiefiles.com/packages/lf20_rbtawnwz.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
			<div class="flex-1 flex items-center">
				<div class="space-y-6">
					<div>
						<h1 class="text-white font-bold text-xl">{{ .Site.Title }}</h1>
						<p>{{ .Site.Params.Description }}</p>
					</div>
					<div>
						<h2 class="text-white font-bold text-xl">{{ .Site.Params.Store.Name }} 기본 가격</h2>
						<p class="text-zinc-500 text-sm">100% 투명한 정찰제로 운영 됩니다.</p>
						<ul class="grid grid-cols-2 lg:flex lg:space-x-6">
							<li class="flex lg:block space-x-2 lg:space-x-0">
								<div class="font-semibold text-white">1인</div>
								{{ if ne .Site.Data.menu.person.count1 0 }}
								<div class="text-yellow-500">₩{{ .Site.Data.menu.person.count1 | lang.FormatNumber 0 }}</div>
								{{ else }}
								<div class="text-yellow-500">₩문의</div>
								{{ end }}
							</li>
							<li class="flex lg:block space-x-2 lg:space-x-0">
								<div class="font-semibold text-white">2인</div>
								{{ if ne .Site.Data.menu.person.count2 0 }}
								<div class="text-yellow-500">₩{{ .Site.Data.menu.person.count2 | lang.FormatNumber 0 }}</div>
								{{ else }}
								<div class="text-yellow-500">₩문의</div>
								{{ end }}
							</li>
							<li class="flex lg:block space-x-2 lg:space-x-0">
								<div class="font-semibold text-white">3인</div>
								{{ if ne .Site.Data.menu.person.count3 0 }}
								<div class="text-yellow-500">₩{{ .Site.Data.menu.person.count3 | lang.FormatNumber 0 }}</div>
								{{ else }}
								<div class="text-yellow-500">₩문의</div>
								{{ end }}
							</li>
							<li class="flex lg:block space-x-2 lg:space-x-0">
								<div class="font-semibold text-white">4인</div>
								{{ if ne .Site.Data.menu.person.count4 0 }}
								<div class="text-yellow-500">₩{{ .Site.Data.menu.person.count4 | lang.FormatNumber 0 }}</div>
								{{ else }}
								<div class="text-yellow-500">₩문의</div>
								{{ end }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="w-full h-[50vh]">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-01.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:flex lg:mt-10">
		<div class="flex-1 p-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-16 flex-none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <circle cx="12" cy="12" r="9"></circle>
			   <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"></path>
			   <path d="M12 7v10"></path>
			</svg>
			<div class="flex-1 p-3">
				<h3 class="text-white text-xl font-bold mb-2">저렴한 가격</h3>
				<p class="text-zinc-500 text-sm font-bold">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Name }}{{ .Site.Params.Store.NameIs }} 시설과 규모 대비 저렴한 가격으로 서비스를 제공 합니다.</p>
				<p class="text-zinc-500 text-sm font-bold">초저녁 할인 이벤트 및 게릴라성 주대 이벤트를 활용 하시면 더욱 저렴하게 이용 가능 합니다.</p>
			</div>
		</div>
		<div class="flex-1 p-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-16 flex-none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
			   <path d="M4 13a8.094 8.094 0 0 0 3 5.24"></path>
			   <path d="M11 15h2a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-1a1 1 0 0 0 -1 1v1a1 1 0 0 0 1 1h2"></path>
			   <path d="M17 15v2a1 1 0 0 0 1 1h1"></path>
			   <path d="M20 15v6"></path>
			</svg>
			<div class="flex-1 p-3">
				<h3 class="text-white text-xl font-bold mb-2">연중무휴 24시간</h3>
				<p class="text-zinc-500 text-sm font-bold">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Name }}{{ .Site.Params.Store.NameIs }} 하루 중 3시간의 대청소시간을 제외 한 모든 시간에 운영 됩니다.</p>
				<p class="text-zinc-500 text-sm font-bold">공휴일은 물론 365일 연중무휴 방문하셔서 즐거운 파티를 즐기실 수 있습니다.</p>
			</div>
		</div>
		<div class="flex-1 p-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-16 flex-none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <path d="M3 5h18"></path>
			   <path d="M3 19h18"></path>
			   <path d="M4 9l2 6h1l2 -6"></path>
			   <path d="M12 9v6"></path>
			   <path d="M16 15v-6h2a2 2 0 1 1 0 4h-2"></path>
			</svg>
			<div class="flex-1 p-3">
				<h3 class="text-white text-xl font-bold mb-2">VIP 서비스</h3>
				<p class="text-zinc-500 text-sm font-bold">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Name }}{{ .Site.Params.Store.NameIs }} 최대규모 {{ .Site.Params.Store.Category }}입니다. 현대적인 모던한 인테리어는 물론 최고급 음향시설을 제공 합니다.</p>
				<p class="text-zinc-500 text-sm font-bold">100명이 넘는 상주 직원들이 오직 고객님의 완벽한 파티공간을 위해 노력 합니다.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<div class="lg:flex">
			<lottie-player class="flex-1 w-full" src="https://assets6.lottiefiles.com/packages/lf20_rn4pz8xs.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }} {{ .Site.Params.Store.Name }} 영업시간</h2>
					<p>{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }}의 영업시간을 확인 해주세요. 국가공휴일의 경우에는 반드시 유선문의 부탁드립니다.</p>
					<ul class="grid grid-cols-2 sm:grid-cols-3 gap-3">
						{{ range $day := .Site.Data.hours.days }}
						<li>
							<h3 class="text-white font-bold">{{ $day.name }}</h3>
							{{ if ne $day.range "" }}
							<div class="text-[#00bb55] animate-pulse">{{ $day.range }}</div>
							{{ else }}
							<div class="text-red-300">휴무</div>
							{{ end }}
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-02.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<div class="lg:flex">
			<lottie-player class="flex-1 w-full" src="https://assets3.lottiefiles.com/packages/lf20_XRMbLmFEl3.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }} {{ .Site.Params.Store.Name }} 기본 테이블 구성</h2>
					<p>위스키 세트를 주문 하시면</p>
					<ol class="list-decimal ml-6">
						<li>주문하신 위스키(양주)</li>
						<li>진안주 모듬과일</li>
						<li>소주, 맥주</li>
						<li>최신 인테리어의 룸</li>
						<li>고급 음향시설(노래방, 플레이어)</li>
					</ol>
					<p>위 5가지 서비스가 제공 됩니다.</p>
					<p class="text-zinc-500 text-sm">* 시간 연장시 술 추가를 하시지 않을 경우 별도의 룸 사용료(RT)가 발생 합니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-03.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<h2 class="text-xl font-bold text-white text-center text-yellow-100">메뉴: 위스키</h2>
		{{ $whiskies := .Site.Data.menu.whiskies }}
		<div class="mt-3 text-center text-zinc-500 font-bold">{{$whiskies.whiskies | len}}개의 위스키 정보가 있습니다</div>
		<div class="text-sm text-zinc-500 font-bold text-right mt-3">(단위: ₩)</div>
		<ul class="text-center mt-3">
			<li class="grid grid-cols-3 gap-3 text-bold text-yellow-100 py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">이름</span>
				<span class="flex items-center justify-center">1부</span>
				<span class="flex items-center justify-center">2부</span>
			</li>
			{{range $whiskies.whiskies}}
			<li class="grid grid-cols-3 gap-3 hover:text-white py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">{{.name}}</span>
				{{ if ne .price1 0 }}
				<span class="flex items-center justify-center">{{.price1 | lang.FormatNumber 0}}</span>
				{{ else }}
				<span class="flex items-center justify-center text-gray-500">문의</span>
				{{ end }}
				{{ if ne .price2 0 }}
				<span class="flex items-center justify-center">{{.price2 | lang.FormatNumber 0}}</span>
				{{ else }}
				<span class="flex items-center justify-center text-gray-500">문의</span>
				{{ end }}
			</li>
			{{end}}
		</ul>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-04.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<h2 class="text-xl font-bold text-white text-center text-yellow-100">메뉴: 안주 및 음료</h2>
		{{ $foods := .Site.Data.menu.foods }}
		<div class="mt-3 text-center text-zinc-500 font-bold">{{$foods.foods | len}}개의 안주 및 음료 정보가 있습니다</div>
		<div class="text-sm text-zinc-500 font-bold text-right mt-3">(단위: ₩)</div>
		<ul class="text-center mt-3">
			{{range $foods.foods}}
			<li class="grid grid-cols-3 gap-3 hover:text-white py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">{{.category}}</span>
				<span class="flex items-center justify-center">{{.name}}</span>
				<span class="flex items-center justify-center">{{.price | lang.FormatNumber 0}}</span>
			</li>
			{{end}}
		</ul>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-05.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<h2 class="text-xl font-bold text-white text-center text-yellow-100">메뉴: TC</h2>
		<div class="mt-3 text-center text-zinc-500 font-bold">2개의 TC 정보가 있습니다</div>
		<div class="text-sm text-zinc-500 font-bold text-right mt-3">(단위: ₩)</div>
		<ul class="text-center mt-3">
			<li class="grid grid-cols-2 gap-3 text-bold text-yellow-100 py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">이름</span>
				<span class="flex items-center justify-center">가격</span>
			</li>
			<li class="grid grid-cols-2 gap-3 hover:text-white py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">{{ .Site.Data.menu.tcs.room.name }}</span>
				{{ if ne .Site.Data.menu.tcs.room.price 0 }}
				<span class="flex items-center justify-center">{{ .Site.Data.menu.tcs.room.price | lang.FormatNumber 0 }}</span>
				{{ else }}
				<span class="flex items-center justify-center text-gray-500">문의</span>
				{{ end }}
			</li>
			<li class="grid grid-cols-2 gap-3 hover:text-white py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">{{ .Site.Data.menu.tcs.host.name }}</span>
				{{ if ne .Site.Data.menu.tcs.host.price 0 }}
				<span class="flex items-center justify-center">{{ .Site.Data.menu.tcs.host.price | lang.FormatNumber 0 }}</span>
				{{ else }}
				<span class="flex items-center justify-center text-gray-500">문의</span>
				{{ end }}
			</li>
		</ul>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-06.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<h2 class="text-xl font-bold text-white text-center">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }} {{ .Site.Params.Store.Name }} 이미지</h2>
		<div class="mt-3 text-center text-zinc-500 font-bold">{{ .Site.Params.Store.Name }}에는 소·중·대 크기의 룸이 준비되어 있으며, 모던한 인테리어와 최고급 음향 시설이 세팅되어 있습니다.</div>
		<div class="mt-8 w-full">
			<div class="grid grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-3 max-w-6xl mx-auto">
				{{ range $n := seq 1 6 }}
				<figure class="overflow-hidden rounded-sm" oncontextmenu="return false;" ondragstart="return false;">
					<img class="block w-full aspect-video object-cover" src="{{ printf "/index/rooms/room-%02d.png" $n }}" alt="{{ $.Site.Params.Store.Location }} {{ $.Site.Params.Store.Name }} {{ $.Site.Params.Store.Category }} 룸 이미지 {{ $n }}">
				</figure>
				{{ end }}
			</div>
		</div>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-01.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<div class="lg:flex">
			<lottie-player class="flex-1 w-full" src="https://assets4.lottiefiles.com/private_files/lf30_a4mKwA.json" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }} {{ .Site.Params.Store.Name }} 예약방문 이벤트</h2>
					<p>{{ .Site.Params.Store.Name }} 예약방문 고객에 한해 무료 및 할인 이벤트가 준비 되어있습니다</p>
					<ul class="space-y-3 list-decimal ml-6">
						<li>
							<h3 class="text-white font-bold">초저녁 주대 할인 이벤트</h3>
							<div>상시 이벤트가 아니므로 방문시 상담전화를 통해 이벤트 유무를 확인 해주세요</div>
						</li>
						<li>
							<h3 class="text-white font-bold">{{ .Site.Params.Store.Location }}권에 계신 고객 무료픽업</h3>
							<div>현재 {{ .Site.Params.Store.Location }}권에 계신 예약고객에 한해 고급승용차로 무료픽업을 해드리고 있습니다</div>
						</li>
						<li>
							<h3 class="text-white font-bold">자가용 이용 고객 무료 발렛파킹</h3>
							<div>자가용을 이용하시는 예약고객에 한해 호텔 발렛파킹을 무료로 지원 합니다</div>
						</li>
					</ul>
					<p class="text-zinc-500 text-sm">{{ .Site.Params.Store.Name }} {{ .Site.Params.Store.Category }}의 예약방문을 통해서만 제공 되는 이벤트입니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="w-full h-[50vh] lg:mt-10">
		<div class="lg:bg-fixed bg-cover bg-no-repeat bg-center w-full h-full brightness-50" style="background-image: url('/index/hostess/hostess-02.png');">
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10">
		<div class="lg:flex">
			<lottie-player class="flex-1 w-full" src="https://assets2.lottiefiles.com/packages/lf20_qjeqt7ez.json" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
			<div class="flex-1 flex items-center">
				<div class="space-y-3 mb-3">
					<h2 class="text-white font-bold text-xl">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }} {{ .Site.Params.Store.Name }} 오시는 길</h2>
					<p class="inline-block">주소: {{.Site.Params.Store.Address}}</p> <button class="inline-block ml-3 px-3 py-1 bg-gray-800 hover:bg-gray-700 text-gray-200 text-sm rounded-lg duration-300 cursor-pointer" onclick="navigator.clipboard.writeText('{{ .Site.Params.Store.Address }}').then(()=>{alert('주소가 복사되었습니다!')})">주소 복사</button>
				</div>
			</div>
		</div>
	</div>
	<iframe class="w-full h-[50vh] mx-auto mt-3 lg:mt-0" title="map" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="{{ .Site.Params.Store.GoogleMapSrc }}" style="filter: opacity(0.8);"></iframe>
</section>
<section>
	<div class="container px-3 mx-auto lg:mt-10">
		<h2 class="text-white font-bold text-xl text-yellow-100">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }} {{ .Site.Params.Store.Name }} 소개</h2>
		<article class="mt-4 space-y-4">
			{{ partial "home_article" . }}
		</article>
	</div>
</section>
<section>
	<div class="container px-3 mx-auto lg:mt-10">
		<div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-[#00bb55] mb-8" viewBox="0 0 975.036 975.036">
			<path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
			</svg>
			<p class="leading-relaxed text-lg">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Category }}에서 특별한 하루를 더욱 특별하게!</p>
			<span class="inline-block h-1 w-10 rounded bg-gray-500 mt-8 mb-6"></span>
			<p class="text-white font-medium title-font tracking-wider text-sm">{{ .Site.Params.Store.LocationEn | upper }} {{ .Site.Params.Store.CategoryEn | upper }} {{ .Site.Params.Store.NameEn | upper }}</p>
			<p class="text-gray-500">{{ .Site.Params.Store.Location }} 최대규모 {{ .Site.Params.Store.Category }}</p>
		</div>
	</div>
</section>

{{ end }}
